#background {
    -fx-background-size: 100%;
}

#textAreas {
    -fx-opacity: 0.70;
    -fx-border-color: black;
    -fx-font-size: 15px;
}

.infoBoxes {
    -fx-padding: 18 0 0 0;
}

.innerBoxes {
    -fx-opacity: 0.70;
    -fx-background-color: white;
    -fx-alignment: center;
}

#headBox {
    -fx-padding: 10;
    -fx-opacity: 0.70;
    -fx-background-color: white;
    -fx-alignment: center;
}

.infoLabels {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#areaName {
    -fx-font-size: 30px;
    -fx-font-weight: normal;
}

#areaDescription {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-font-weight: normal;
}

#playerStats {
    -fx-font-size: 13;
    -fx-alignment: center;
}
#tradeButtons {
    -fx-font-size: 13;
    -fx-alignment: center;
}

#endInfo {
    -fx-padding: 10;
    -fx-opacity: 0.70;
    -fx-font-size: 30px;
    -fx-font-weight: normal;
    -fx-background-color: white;
    -fx-text-alignment: center;
    -fx-translate-x: -100;
}

/*ÚPRAVY PRO NÁPOVĚDU*/
body {
    font-family: "Segoe UI";
}

p {
    text-alignment: justify;
}
